body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

.containers {
    max-width: 1000px;
    margin: 30px auto 30px;
    display: flex;
    justify-content: center;
    min-height: 100px;
}
